.heroSection {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 80vh;
    background: #262626;
    background-image: url('/images/dot-pattern2.png');
    padding: 2rem;
    font-family: "Roboto Mono", sans-serif;
    color: #fff;
  }
  
  .heroContent {
    max-width: 1130px;
    width: 100%;
    margin: 0 auto;
    text-align: left;
    padding-top: 2rem;
    padding-left: 20px;

  }
  
  .title {
    font-weight: 600;
    font-size: 55px;
    line-height: 124%;
    color: #eeebe2;
    font-family: "Inter", sans-serif;;
    margin-bottom: 1.5rem;
  }
  
  .pixelText {
    font-family: "Pixelify Sans", sans-serif;;
    color: #8FD694;
  }
  
  .description {
    font-weight: 700;
    font-size: 22px;
    font-family: "Roboto Mono", sans-serif;;
    line-height: 123%;
    letter-spacing: -0.02em;
    color: #eeebe2;
    margin-top: 1.5rem;
  }
  
  @media (max-width: 768px) {
    .title {
      font-size: 2.5rem;
    }
    
    .description {
      font-size: 1rem;
    }
  }